
.EnvelopeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:400px;
}
.Envelope{
    width:400px;
    height:200px;
    background-color:#84670F;
    position:relative;
    cursor:pointer;
    z-index:1;
  
  }

.Envelope:before{
    content:"";
    top:0;
    right:0;
    z-index:3;
    position:absolute;
    border-left:400px solid transparent;
    border-bottom:200px solid #ffc000;
  }

  .Envelope:after{
    content:"";
    top:0;
    left:0;
    z-index:3;
    position:absolute;
    border-right:400px solid transparent;
    border-bottom:200px solid #ffc000;
  }

  .Back{
    position:absolute;
    top:0;
    z-index:-1;
    border-top:150px solid #ffc000;
    border-left:200px solid transparent;
    border-right:200px solid transparent;
    transform-origin:top;
    transform: rotateX(0deg);
    animation: close-envelope 1.5s normal forwards;
  }

  .Letter{
    position:relative;
    padding:20px 10px;
    width:300px;
    z-index:2;
    margin: 0 auto;
    background-color:#F1EBE3;
    border: 1px solid #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
    -webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;   
    animation: letter-up 2s normal forwards;
    top:10px;
    height:100px; 
    overflow: hidden;
    opacity: 0;
  }

  label{
    color: #816d53;
    margin:0 20px;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #fff;
    font-size: 13px;
  }

  input,textarea{
    width: 90%;
    height:35px;
    display:block;
    margin: 5px auto;
    padding:5px;
    background:none;
    outline:  none;
    color: #8a775f;
    border: 1px solid #8a775f;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0px 0px 1px #726959;
    -webkit-box-shadow: inset 0px 0px 1px #b3a895;
    box-shadow: inset 0px 0px 1px #b3a895;
  }

  textarea {
    height:105px;
    max-height:105px;
    max-width:90%;
    background:repeating-linear-gradient(to bottom, transparent, transparent 20px, #ddd 20px, #ddd 21px);
    line-height:20px;
  }

  input:focus,textarea:focus {
    background-color:#F8F4EE;
  }

  .Button {
    color: #8a775f;
    cursor:pointer;
    position:relative;
    text-transform: uppercase;
  }
  
  .Button:hover {
    color: #F8F4EE;
    background-color:#84670F;
  }

  @keyframes close-envelope {
    0% {transform: rotateX(0deg);}
    100% {transform: rotateX(180deg);}
  }

  @keyframes letter-up {
    0% {opacity:0;}
    75%  {opacity:1; top:10px; height:100px;}
    100%  {opacity:1; top:-300px; height:400px;}
  }


  /* .Envelope:hover .Back{
    transform: rotateX(180deg);
  } */

  /* .Envelope:hover .Letter{

    letter que se meta
    top:0;
    height:200px;

    back que se doble
    transform: rotateX(360deg);
  } */


 


  /* Greater than 640 */
@media(min-width: 800px){  
  
    .Envelope{
        width:800px;
        height:400px;
      }
    
    .Envelope:before{
        border-left:800px solid transparent;
        border-bottom:400px solid #ffc000;
      }
    
      .Envelope:after{
        border-right:800px solid transparent;
        border-bottom:400px solid #ffc000;
      }
    
      .Back{
        border-top:300px solid #ffc000;
        border-left:400px solid transparent;
        border-right:400px solid transparent;
      }
    
      .Letter{
        width:600px;
        height: 500px;
      }

      @keyframes letter-up {
        0% {opacity:0;}
        75%  {opacity:1; top:10px;}
        100%  {opacity:1; top:-300px; height:500px;}
      }
  }


 