.Skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  margin-top: 20px;
}

.ProgressBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2em;
  background-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0.8),
    rgba(0, 0, 0, 0.7)
  );
  border-radius: 0.5rem;
  color: white;
  overflow: hidden;
  margin: 5px;
}

.Progress {
  width: 50%;
  background-image: -webkit-linear-gradient(left, #0DB9FF, #1284B3);
}

.Skill {
  width: 35%;
  height: 100%;
  padding-left: 5px;
  padding-top: 5px;
}

.ProgressBar span {
  padding-right: 5px;
  padding-top: 5px;
  padding-left: 5px;
}

/* Greater than 640 */
@media (min-width: 40rem) {
  .Skills {
    padding: 0;
    margin-top: 0;
    justify-content: none;
  }
  .ProgressBar {
    width: 500px;
    margin: 0;
  }
}
